@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.body {
    background-color: #333333;
  }

  .cityBackHeadPic {
    
  }

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../src/assets/img/project9.jpg');
    
    height: 800px;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.headBg {
    display: flex;
    margin: 10rem;
    
    
    border-radius: 55px;
    align-items: center;
    filter: drop-shadow(0 0 2rem #EEF1F2 );
    justify-content: center;
    
    height: 12rem;
    width: 40rem;
    
}

.title {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: white;
  }

  .subtitle {
    font-family: 'Gruppo', cursive;
    color: white;
    line-height: .5rem;
    font-size: 40px;
  }



.bioSection {
    height: 1200px;
    margin-top: 250px;
    color: white;
}

.family-image {
    justify-content: center;
    box-shadow: 52px 52px 1px 1px #151f20;
}

.about {
  font-size: 40px;
  
}

.description {
  font-size: 20px;
  
}

.certCardSection {
  margin: 5rem;
  height: 500px;
  background-image: url('./../src/assets/img/black-background.jpg');
  transform: rotateZ(200deg) translateY(4rem) translateX(-5rem);
  zoom: 200%;
}



